#image_page_about {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

#img_profil_page_aout {
    width: 200px;
    border-radius: 50%;
}

#contenue_page_about > .texte_page_about, #image_page_about {
    text-align: center;
}

#image_page_aboutt {
    display: flex;
    justify-content: center;
}

.texte_page_about{
    width: 60%;
}

.ptexteletout {
    height: 50vh;
}

#contenue_page_about {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.ptexte{
    text-align: left;
    font-size: 20px;
}


.tireptexte {
    width: 100%;
    color: var(--yellow);
}