@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

* {
    font-family: 'Actor';
}

:root {
    --yellow : rgb(245 223 77);
}
.skillBar {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
    height: 30px;
    min-height: 20px;
    margin-left: 5px;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 20px;
    border: solid 1px #2c3133;
}


.skillsBoxes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    padding-left: 3rem;
}

.skills div:nth-child(0) {
    display: flex;
    justify-content: center;
}

.skillBoxContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
}

.infobox {
    display: flex;
    justify-content: space-between;
}

.skillBox {
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    border-radius: 2px;
    width: 500px;
    height: fit-content;
    margin: 15px;
}

.skillBox.gauche, .skillBox.droite{
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    border-radius: 2px;
    width: 35%;
    height: fit-content;
    margin: 15px;
    height: 50vh;
}

.page_skills_Box {
    display: flex;
    flex-direction: column;
}
.skillBox.droite {
    justify-content: space-between;
}

.skillsBoxesTitre > h1 {
    width: 100%;
    font-size: 50px;
    color: var(--yellow);
}
.skillsBoxesTitre{
    text-align: center;
    
}

.title {
    padding-bottom: 20px;
}

.skillBox .title {
    font-size: 3rem;
    justify-content: center;
}

.skillBox .infos {
    transition: max-height 0.5s ease-in-out;
}

.skillBox .infos p {
    font-size: 2rem;
    padding: 5px 5px 5px 5px;
}

.skillBox p {
    display: inline-flex;
    width: 100%;
    flex-flow: wrap;
}



.skillsBoxes {
    display: flex;
    justify-content: space-around;
}



#page_skills {
    width: 90%;
    font-size: 30px;
}

#page_skills_droite_bas > .titre {
    padding-bottom: 30px;
}

#page_skills_droite_haut {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid darkcyan;
}

