.page_skills_bar {
    width: 100%;
    background-color: #ddd;
}

.interieur_skills_bar {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.couleur_UML{
    background-color: red;
}

#page_skills_contenaire {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    width: 100%;
    height: 70vh;
}

.conteneur, .conteneur_deux {
    min-width: 35%;
}

.conteneur_deux {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
}

.page_skills_block_texte {
    display: flex;
    justify-content: center;
    border: 2px solid orange;
}

#page_skills_gauche {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid brown;
}

.page_skills {
    width: 100%;
    text-align: center;
    border: 2px solid black;
}

.page_skills.titre {
    color: black;
}