* {
    font-family: 'Actor', sans-serif;
}

.skillBar {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
    height: 25px;
    min-height: 20px;
    margin-left: 5px;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 20px;
    border: solid 1px #2c3133;
}


.skillsBoxes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    padding-left: 3rem;
}

.skills div:nth-child(0) {
    display: flex;
    justify-content: center;
}

.skillBoxContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
}

.infobox {
    display: flex;
    justify-content: space-around;
    
}

.skillBox {
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    border-radius: 2px;
    width: 500px;
    height: fit-content;
    margin: 15px;
}


.skillsBoxesTitre > h1 {
    width: 100%;
    font-size: 50px;
    color: var(--yellow);
    font-weight: normal;
}

.skillsBoxesTitre{
    text-align: center;
}

.title {
    padding-bottom: 20px;
}

.skillBox .title {
    font-size: 35px;
    justify-content: center;
}

.skillBox .infos {
    transition: max-height 0.5s ease-in-out;
}

.skillBox .infos p {
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    text-align: left;
    width: 200px;
}

.skillBox p {
    display: inline-flex;
    width: 100%;
    flex-flow: wrap;
}

.skillsBoxes {
    display: flex;
    justify-content: space-around;
}

