
@import url('https://fonts.googleapis.com/css2?family=Alconica&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
}

.un {
    display: flex;
    position: relative;
    min-height: 100vh;
}

.ehbibi {
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(36, 35, 35);
}

.letout div{
    padding: 10px 0px 10px 0px;
    color: rgb(56, 54, 54);
    text-align: center;
    width: 100%;
}

.letout {
    position: relative;
    display: flex;
}

.ehbiba {
    width: 95%;
    display: flex;
    justify-content: center;
    background-color: rgb(37, 37, 37);
}

.ehbibagauche {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ehbibagauche h6, h1, a {
    width: 55%;
    color: white;
    font-family: "Arhitects Daughther", sans-serif;
}

.ehbibagauche h6 {
    font-size: 15px;;
    
}

.ehbibagauche a {
    text-decoration: none;
    padding: 5px;
}

.hihi {
    width: 50%;
    margin-top: 10px;
}

.ehbibadroite {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ehbibadroite h1{
    width: 100%;
    height: auto;
    font-size: 400px;
    font-family: "Alex Brush", sans-serif;
    margin-right: 20%;;
}

.texteh3 {
    position: absolute;
    top: -2vh;
    left: 7vw;
    opacity: 1;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    width: 120px; 
    height: 80px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;
    opacity: 0;
    z-index: 0;
 }
 .texteh3:before {
    content:"";
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid rgb(59, 57, 57);
    border-bottom: 13px solid transparent;
    margin: 0 0 0 -25px;
 }

 .letout img:hover{
     z-index: 10;
 }
 
.texteh3 h3{
    color: rgb(129, 122, 122);
    padding: 10px;
    border: 2px solid rgb(59, 57, 57);
}


.ehbibi img {
    max-width: 70%;
    max-height: 70vh;
}

.ehbibi img:hover{
    cursor: pointer; 
}


.page {
    transform: translateY(150vh);
    transition-duration: 1s, 2s;
    min-height: 80vh;
    width: 90%;
    color: white;
    position: absolute;
    top: 10vh;
    left: 7%;
}
.page.showed {
    display: block;
    transform: translateY(0vh);
    transition-duration: 1s, 2s;
    position: absolute;
    top: 10vh;
    left: 7%;
    min-height: 80vh;
    background-color: rgb(43, 42, 42);
    border: 5px solid rgb(49, 48, 48);
    border-radius: 50px;
}
#contenue_page_about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 55vh;
}

#image_page_about, #texte_page_about {
    width: 40%;
    text-align: center;
}

#img_profil_page_aout {
    width: 200px;
    border-radius: 50%;
}

.fleche_page { 
    width: 50px;
    margin: 25px 0 0 35px;
}
