
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');


:root {
    --yellow : rgb(245 223 77);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Actor', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.un {
    display: flex;
    position: relative;
    min-height: 100vh;
}

.ehbibi {
    width: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(36, 35, 35);
}

.letout div{
    padding: 20px 0px 20px 0px;
    color: rgb(56, 54, 54);
    text-align: center;
    width: 100%;
}

.letout {
    position: relative;
    display: flex;
}

.ehbiba {
    width: 95%;
    display: flex;
    justify-content: center;
}

.ehbibagauche {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ehbibagauche h6, h1, a {
    width: 55%;
    color: white;
    font-family: "Arhitects Daughther", sans-serif;
    font-size: 50px;
}

.ehbibagauche h6 {
    font-size: 15px;;
}

.ehbibagauche h1:nth-child(2) {
    color: var(--yellow);
}

.ehbibagauche a {
    text-decoration: none;
    padding: 5px;
}

.hihi {
    width: 50%;
    margin-top: 10px;
}

.ehbibadroite {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ehbibadroite h1{
    width: 100%;
    height: auto;
    font-size: 400px;
    font-family: "Arizonia", sans-serif;
    margin-right: 20%;;
    color: var(--yellow);
}

.texteh3 {
    position: absolute;
    top: -2vh;
    left: 7vw;
    opacity: 1;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    width: 120px; 
    height: 80px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;
    opacity: 0;
    z-index: 0;
 }
 .texteh3:before {
    content:"";
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid rgb(59, 57, 57);
    border-bottom: 13px solid transparent;
    margin: 0 0 0 -25px;
 }

 .letout img:hover{
     z-index: 10;
 }
 
.texteh3 h3{
    color: rgb(129, 122, 122);
    padding: 10px;
    border: 2px solid rgb(59, 57, 57);
}


.ehbibi img {
    max-width: 40%;
    max-height: 40vh;
}

.ehbibi .letout > div > img {
    padding: 0px 5px 0px 5px;
}

.ehbibi img:hover{
    cursor: pointer; 
}


.page {
    transform: translateX(150%);
    transition-duration: 1s, 2s;
    min-height: 80vh;
    width: 90%;
    color: white;
    position: absolute;
    top: 10vh;
    left: 7%;
}
.page.showed {
    display: block;
    transform: translateX(0vh);
    transition-duration: 1s, 2s;
    position: absolute;
    top: 10vh;
    left: 7%;
    min-height: 80vh;
    background-color: rgb(43, 42, 42);
    border: 5px solid rgb(49, 48, 48);
    border-radius: 50px;
}

.fleche_page { 
    width: 50px;
    margin: 25px 0 0 35px;
}


@media (max-width: 1230px) {
    #responsive {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(0vh);
        transition-duration: 1s, 2s;
        position: absolute;
        top: 0vh;
        left: 0%;
        min-height: 100vh;
        min-width: 100%;
        background-color: rgb(43, 42, 42);
        border: 5px solid rgb(49, 48, 48);
    }    

    #responsive p {
        font-size: 50px;
        color: white;
    }
}